@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@200;300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  -ms-overflow-style: none;
  letter-spacing: 0.07em;
}
::-webkit-scrollbar {
  display: none;
}

.app-layout {
  @apply w-screen min-h-screen bg-app bg-cover font-anton;
}

.app-body {
  @apply w-screen h-screen flex justify-center items-center text-white text-6xl
}

.tasks-layout {
  @apply w-screen min-h-screen flex justify-center items-center text-white text-6xl bg-app-tasks bg-cover
}

.home-layout {
  @apply w-screen min-h-screen flex justify-center items-center text-white bg-app-home-mobile bg-cover h-[1512px]
  tb:bg-app-home-tablet tb:h-[1366px]
  pc2:bg-app-home pc2:h-[1800px] pc2:bg-cover
  pc:bg-app-home pc:h-[1800px] pc:bg-cover
}